*{
    box-sizing: border-box;
}

.btn-back{
    border: solid 1px #ffbb56;
    background-color: #ffbb56;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 80px;
    margin-left:20px;
    font-size: 24px;
}

p{
    font-size: 18px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.detail-img{
    width: 1280px;
    height: 720px;
}

.img-video{
    text-align: center;
}

.detail-description{
    border-radius: 20px;
    margin: 50px;
    background-color: #ffbb56;
    padding: 50px 250px;
}

.option{
    padding: 5px;
}

.detail-principal{
    display: flex;
    justify-content: space-between;
}

@media screen and(max-width: 1440px){
    .detail-description{
        padding: 50px 150px;
    }
}

@media screen and(max-width: 1024px){
    .detail-description{
        padding: 50px 100px;
    }
}

@media screen and(max-width: 1280px){
    .detail-img{
        width: 100%;
        height: auto;
    }
}

@media screen and(max-width: 768px){
    .detail-description{
        padding: 50px 50px;
    }

    p{
        font-size: 14px;
    }
}

@media screen and(max-width: 430px){
    .detail-description{
        padding: 50px 10px;
    }

    .detail-principal{
        display: inline-block;
    }

}