<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Lucid Lynx</h4>
                <ul>
                    <li><a href="#">Sobre nosotros</a></li>
                    <li><a href="#">Política de privacidad</a></li>
                    <li><a href="#">Contáctanos</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Ayuda</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Subir tutorial</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Categorías</h4>
                <ul>
                    <li><a routerLink="/categories" href="#">Manualidades</a></li>
                    <li><a routerLink="/categories" href="#">Comida</a></li>
                    <li><a routerLink="/categories" href="#">Belleza</a></li>
                    <li><a routerLink="/categories" href="#">Moda</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Siguenos</h4>
                <div class="social-links">
                    <a href="https://www.facebook.com/" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/1384/1384005.png"></a>
                    <a href="https://twitter.com/" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/1384/1384017.png"></a>
                    <a href="https://www.instagram.com/" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/1384/1384015.png"></a>
                    <a href="https://github.com/Lucid-Lynx-2022" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/1051/1051326.png"></a>
                </div>
            </div>
        </div>
    </div>
</footer>