<mat-toolbar class="navbar mat-elevation-z8">
  <span><mat-icon>eco</mat-icon>TuToTu</span>

  <div class="spacer"></div>

  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i><img src="https://cdn-icons-png.flaticon.com/512/2099/2099153.png" width="30px" height="30px"></i>
  </label>

  <ul>
    <a class="option" mat-button routerLink="/home">Inicio</a>
    <a class="option" mat-button>Tutorial</a>
    <a class="option" mat-button>Categorías</a>
    <a class="option" mat-button routerLink="/profile">Perfil</a>
    <a *ngIf="!(afAuth.user | async)" class="option" mat-raised-button class="btn-login" routerLink="/login">Iniciar Sesión</a>
    <a *ngIf="(afAuth.user | async)" (click)="logout()" class="option" mat-raised-button class="btn-login" routerLink="/home">Cerrar Sesión</a>
  </ul>
    
</mat-toolbar>