<mat-toolbar class="navbar mat-elevation-z8">
  <span routerLink="/home"><mat-icon>eco</mat-icon> TuToTu</span>

  <div class="spacer"></div>

  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i><img src="https://cdn-icons-png.flaticon.com/512/2099/2099153.png" width="30px" height="30px"></i>
  </label>

  <ul>
    <a class="option" mat-button routerLink="/home">Inicio</a>
    <a class="option" mat-button routerLink="/categories">Categorías</a>
    <a *ngIf="(afAuth.user | async)" class="option" mat-button routerLink="/tutorial">Mis Tutoriales</a>
    <a *ngIf="(afAuth.user | async)" class="option" mat-button routerLink="/profile">Perfil</a>
    <button *ngIf="!(afAuth.user | async)" class="option" mat-raised-button class="btn-login" routerLink="/login">Iniciar Sesión</button>
    <button *ngIf="(afAuth.user | async)" (click)="logout()" style="background-color: #e16162 !important; color: white !important;" class="option" mat-raised-button class="btn-login" routerLink="/home">Cerrar Sesión</button>
  </ul>
    
</mat-toolbar>