<div class="container">
    <header>
        <div class="header-container">
            <div class="content-header">
                <h1>Bienvenido a TuToTu</h1>
                <p>¡Demuestra tus habilidades compartiendo tus propios tutoriales!</p>
            </div>
            <div class="btn-header">
                <button *ngIf="(afAuth.user | async)" routerLink="/tutorial" mat-raised-button class="btn">Subir Tutorial</button>
                <button *ngIf="!(afAuth.user | async)" routerLink="/login" mat-raised-button class="btn">Subir Tutorial</button>

            </div>
        </div>
        
    </header>

    <section>
        <div class="section-container">
            <div class="featured-container">
                <div class="featured-tutorial-container">
                    <div class="section-title">
                        <h3>Tutorial Destacado</h3>
                    </div>
                    <div class="featured-content">
                      <a><img class="featured-img" src="https://c0.wallpaperflare.com/preview/14/791/735/flatlay-children-craft-diy-school.jpg"></a>
                      <h3>Manualidades magícas</h3>
                      <h4>En este tutorial podrás ver manualidades para tus trucos de magía.</h4>
                      <p>Por Miguelito33</p>
                    </div>
                </div>
                <div class="recomendations-container">
                    <div class="section-title">
                        <h3>Tutoriales Destacados</h3>
                    </div>
                    <div class="option">
                      <div>
                        <a><img class="img-option" src="https://c0.wallpaperflare.com/preview/955/464/977/backgrounds-flatlay-craft-diy-school.jpg"></a>
                      </div>
                      <div class="option-description">
                        <p><strong>Afilador casero</strong></p>
                        <p>🖤23213</p>
                        <p>Por Mambru12</p>
                      </div>
                    </div>
                    <div class="option">
                      <div>
                        <a><img class="img-option" src="https://c0.wallpaperflare.com/preview/763/165/124/flatlay-craft-diy-school-arts.jpg"></a>
                      </div>
                      <div class="option-description">
                        <p><strong>Afilador casero</strong></p>
                        <p>🖤12345</p>
                        <p>Por XxPedritoxX</p>
                      </div>
                    </div>
                    <div class="option">
                      <div>
                        <a><img class="img-option" src="https://c0.wallpaperflare.com/preview/418/350/388/flatlay-craft-diy-gifts.jpg"></a>
                      </div>
                      <div class="option-description">
                        <p><strong>Afilador casero</strong></p>
                        <p>🖤11213</p>
                        <p>Por Pepelu456</p>
                      </div>
                    </div>
                </div>
            </div>
            <div class="table-container">
                <div class="section-title">
                    <h3>Últimos Tutoriales</h3>
                </div>
                <div class="section-content">
                  <div class="card">
                    <div class="card-option">
                      <div>
                        <img class="card-img" src="https://c0.wallpaperflare.com/preview/638/559/745/hands-textures-craft-diy-sewing.jpg">
                      </div>
                      <div class="card-description">
                        <h3>Afilador casero</h3>
                        <p>🖤23213</p>
                        <p>Por Mambru12</p>
                      </div>
                    </div>
                  </div>
                  <div *ngFor="let public of tuto" class="card">
                    <div class="card-option">
                      <div>
                        <img class="card-img" src="{{public.image}}">
                      </div>
                      <div class="card-description">
                        <h3>{{public.title}}</h3>
                        <p>{{public.description}}</p>
                        <p>Por {{public.displayName}}</p>
                      </div>
                    </div>
                  </div>                      
                </div>
            </div>
        </div>       
    </section>
</div>
