<div class="container">
    <header>
        <div class="header-container">
            <div class="content-header">
                <h1>Bienvenido a TuToTu</h1>
                <p>¡Demuestra tus habilidades compartiendo tus propios tutoriales!</p>
            </div>
            <div class="btn-header">
                <button *ngIf="(afAuth.user | async)" routerLink="/tutorial" mat-raised-button class="btn">Subir Tutorial</button>
                <button *ngIf="!(afAuth.user | async)" routerLink="/login" mat-raised-button class="btn">Subir Tutorial</button>

            </div>
        </div>
        
    </header>

    <section>
        <div class="section-container">
            <div class="featured-container">
                <div class="featured-tutorial-container">
                    <div class="section-title">
                        <h3>Ultimo tutorial añadido</h3>
                    </div>
                    <div class="featured-content" *ngFor="let public of RecentTutos | slice:0:1; let i=index" >
                      <a>
                        <div style="cursor: pointer;" [routerLink]="['/detail', public._id]" *ngIf="isImage(public.image)">
                          <img class="featured-img" src="{{public.image}}">
                        </div>
                        <div style="cursor: pointer;" [routerLink]="['/detail', public._id]" *ngIf="isVideo(public.image)">
                          <video class="featured-img" src="{{public.image}}" autoplay muted loop></video>
                        </div> 
                      </a>
                      <h3>{{public.title}}</h3>
                      <h4>{{public.date}}</h4>
                      <p>Por {{public.displayName}}</p>
                    </div>
                </div>
                <div class="recomendations-container">
                    <div class="section-title">
                        <h3>Añadidos recientemente</h3>
                    </div>
                    <div class="option" *ngFor="let public of RecentTutos">
                      <div>
                        <a>
                          <div style="cursor: pointer;" [routerLink]="['/detail', public._id]" *ngIf="isImage(public.image)">
                            <img class="img-option" src="{{public.image}}">
                          </div>
                          <div style="cursor: pointer;" [routerLink]="['/detail', public._id]" *ngIf="isVideo(public.image)">
                              <video class="img-option" src="{{public.image}}"></video>
                          </div>
                        </a>                      
                      </div>
                      <div class="option-description">
                        <p><strong>{{public.title}}</strong></p>
                        <p>{{public.date}}</p>
                        <p>Por {{public.displayName}}</p>
                      </div>
                    </div>
                </div>
            </div>
            <div class="table-container">
                <div class="section-title">
                    <h3>Últimos Tutoriales</h3>
                </div>
                <div class="section-content">
                  <div *ngFor="let public of HomeTutos | slice:0:10; let i=index" class="card">
                    <div class="card-option">
                      <div style="cursor: pointer;" [routerLink]="['/detail', public._id]" *ngIf="isImage(public.image)">
                        <img class="card-img" src="{{public.image}}">
                      </div>
                      <div style="cursor: pointer;" [routerLink]="['/detail', public._id]" *ngIf="isVideo(public.image)">
                          <video class="card-img" src="{{public.image}}" ></video>
                      </div>
                      <div class="card-description">
                        <h3>{{public.title}}</h3>
                        <p class="description">{{public.description}}</p>
                        <p>Por {{public.displayName}}</p>
                      </div>
                    </div>
                  </div>                      
                </div>
            </div>
        </div>       
    </section>
</div>
