<div class="container">
    <div class="add-tutorial">
        <input class="searchbar" type="text" name="search" [(ngModel)]="searchText" placeholder="Buscar por ">
    </div>
    <div class="tutorial-container">
        <div class="table-container">
            <div class="section-title">
                <h3>Todos los Tutoriales</h3>
            </div>
            <div class="section-content">
            <div *ngFor="let public of tuto | filter:searchText" class="card">
                <div class="card-option" [routerLink]="['/detail', public._id]">
                    <div *ngIf="isImage(public.image)">
                        <img class="card-img" src="{{public.image}}">
                    </div>
                    <div *ngIf="isVideo(public.image)">
                        <video class="card-img" src="{{public.image}}" ></video>
                    </div>
                    <div class="card-description">
                        <h3>{{public.title}}</h3>
                        <p>Por {{public.displayName}}</p>
                    </div>
                </div>
            </div>                      
            </div>
        </div>
    </div>
</div>