*{
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 300px;
    background-color: #fffffe;
    margin-top: 100px;
}

.add-tutorial{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.searchbar{
    padding: 10px;
    font-size: 18px;
}

.add-container{
    text-align: center;
}

.spinner{
    border: 4px solid rgba(0, 0, 0, 0.10);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-left-color: #004643;

    animation: spin 1s linear infinite;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.tutorial-container{
    margin-top: 30px;
    width: 100%;
}

.form-input{
    width: 100%;
}

.table-container{
    margin-bottom: 50px;
}

.section-content{
    display: flex;
    flex-wrap: wrap;
}

.btn{
    background-color: #F9BC60;
}

.card{
    flex: 25%;
    padding: 10px;
    transition: transform .4s;
}
  
.card:hover{
    transform: scale(1.1);
}

.card-option{
    box-shadow: 0 4px 8px 0 black;
    background-color: #e8e4e6;
    border-radius: 5px;
    height: 375px;
    cursor: pointer;
}

.card-img{
    width: 100%;
    max-height: 150px;
    border-radius: 5px;
    background-color: black;
}

.card-description{
    padding: 10px;
}

.description{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and(min-width: 1441px) {
    .card{
        max-width: 325px;
    }

    .card-option{
        max-width: 300px;
    }
    
}

@media screen and(max-width: 1440px){
    .container{
        margin: 80px 150px;
    }
    .card{
        max-width: 285px
    }
};

@media screen and (max-width: 1024px) {
    .card {
        max-width: 100%;
        flex: 50%;
        padding-bottom: 20px;
    }
    .card-img{
        max-height: 250px;
    }
    .container{
        margin: 80px 50px;
    }
    .section-title{
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .card {
        flex: 100%;
    }
}

@media screen and(max-width: 480px){
    .container{
        margin: 80px 5px;
    }
};