*{
    box-sizing: border-box;
    color: #004643;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.profile-container{
    border: 10px solid #004643;
    border-radius: 50px;
    margin-bottom: 150px;
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgb(65, 65, 65);
}

.icon{
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(65, 65, 65);
}

.icon img{
    max-height: 250px;
    max-width: 250px;
}

.data{
    padding-top: 10px;
}

label{
    color: rgba(65, 65, 65, 0.50);
}

@media screen and(max-width: 380px) {
    .icon img{
        max-height: 100px;
        max-width: 100px;
    }

    .icon{
        text-align: center;
    }

    .profile-container{
        padding: 10px;
    }

    h2{
        font-size: 14px;
    }
    
}