<header>
    <div class="header-container">
        <div class="section-content">
            <div class="card">
              <div class="card-option">
                <div>
                  <img class="card-img" src="https://c0.wallpaperflare.com/preview/638/559/745/hands-textures-craft-diy-sewing.jpg">
                </div>
                <div class="card-description">
                  <h3>Lucid Lynx</h3>
                  <p>{{email}}</p>
                  <p>{{uid}}</p>
                  <p>{{displayName}}</p>
                </div>
              </div>
            </div>
        </div>
    </div>
    
</header>