*{
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-wrap: wrap;
    margin: 100px 300px;
    background-color: #fffffe;
}

.add-tutorial{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.add-container{
    text-align: center;
}

.tutorial-container{
    margin-top: 30px;
    width: 100%;
}

.form-input{
    width: 100%;
}

.table-container{
    margin-bottom: 50px;
}

.section-content{
    display: flex;
    flex-wrap: wrap;
}

.btn{
    background-color: #F9BC60;
}

.btn-delete{
    background-color: #e16162;
    color: white;
}

.card{
    flex: 25%;
    padding: 10px;
}

.card-option{
    box-shadow: 0 4px 8px 0 black;
    background-color: #e8e4e6;
    border-radius: 5px;
}

.card-img{
    width: 100%;
    max-height: 150px;
    border-radius: 5px;
    background-color: black;
}

.card-description{
    padding: 10px;
}

.card-buttons{
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

.description{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and(min-width: 1441px) {
    .card{
        max-width: 325px;
    }
    .card-option{
        max-width: 300px;
    }
}

@media screen and(max-width: 1440px){
    .container{
        margin: 100px 150px;
    }
    .card{
        max-width: 285px
    }
};

@media screen and (max-width: 1024px) {
    .card {
        max-width: 100%;
        flex: 50%;
        padding-bottom: 20px;
    }
    .card-img{
        max-height: 250px;
    }
    .container{
        margin: 100px 50px;
    }
    .section-title{
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .card {
        flex: 100%;
    }
}

@media screen and(max-width: 480px){
    .container{
        margin: 100px 5px;
    }
};