.add-tutorial{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.add-container{
    text-align: center;
}

.section-content{
    display: flex;
    flex-wrap: wrap;
}

.section-title{
    text-align: center;
}

.btn{
    background-color: #F9BC60;
}

.btn-cancel{
    background-color: #e16162;
    color: white;
}